# Build output folders
Debug/
Release/
build/

# IDE specific cache/temporary files
.metadata/
*.bak

# OS specific files (Windows/Mac)
.DS_Store
Thumbs.db
desktop.ini

# Latex useless files
relazione/template/main.log
relazione/corrente/main.log
relazione/corrente/main.aux
relazione/corrente/main.bbl
relazione/corrente/main.blg
relazione/corrente/main.synctex.gz
relazione/corrente/main.toc
relazione/corrente/main.fdb_latexmk
relazione/corrente/main.fls
relazione/corrente/indent.log
